<launch>
  <arg name="ip"               default="127.0.0.1"/>
  <arg name="collision_port"   default="9122"/>
  <arg name="competition_port" default="9121"/>
  <arg name="rate_hz"          default="20"/>

  <env name="PYTHONPATH" value="$(find baqu4_udp)/vendor/morai_udp:$(optenv PYTHONPATH)"/>

  <node pkg="baqu4_udp" type="CollisionDataNode.py" name="collision_data_node" output="screen">
    <param name="ip" value="$(arg ip)"/>
    <param name="port" value="$(arg collision_port)"/>
    <param name="rate_hz" value="$(arg rate_hz)"/>
  </node>

  <node pkg="baqu4_udp" type="CompetitionVehicleStatusNode.py" name="competition_vehicle_status_node" output="screen">
    <param name="ip" value="$(arg ip)"/>
    <param name="port" value="$(arg competition_port)"/>
    <param name="rate_hz" value="$(arg rate_hz)"/>
  </node>
</launch>
