<launch>
  <arg name="model" default="HDL-32E"/>
  <arg name="front_port" default="2368"/>

  <group ns="front_lidar">
    <node pkg="velodyne_driver" type="velodyne_node" name="driver" output="screen">
      <param name="port" value="$(arg front_port)"/>
      <param name="frame_id" value="front_lidar"/>
      <param name="calibration" value="$(find velodyne_pointcloud)/params/32db.yaml"/>
  </node>

    <!--nodelet 사용 -->
    <node pkg="nodelet" type="nodelet" name="cloud" output="screen"
          args="standalone velodyne_pointcloud/TransformNodelet">
      <param name="frame_id" value="front_lidar"/>
      <param name="model"    value="$(arg model)"/>
      <param name="calibration" value="$(find velodyne_pointcloud)/params/32db.yaml"/>
  </node>
  </group>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_front"
        args="1.530 0.0 1.450  0 0 0  base_link front_lidar"/>
</launch>
