<launch>
    <arg name="enable_on_start" default="false"/>
    <arg name="input_topic" default="/image_jpeg/compressed"/>
    <arg name="use_compressed" default="true"/>
    <arg name="stop_roi_ratio" default="0.30"/>
    <arg name="output_topic" default="/stop_sequence/stop_line"/>
    <arg name="output_bool_topic" default="/stop_sequence/stop_decision"/>

    <arg name="stop_line_pixels_per_meter" default="45.0"/>
    <arg name="stop_line_min_aspect" default="2.5"/>
    <arg name="stop_line_min_width" default="80.0"/>

    <node pkg="stop_sequence" type="stop_line_detection.py" name="stop_line_detect_node" output="screen">
        <param name="enable_on_start" value="$(arg enable_on_start)"/>
        <param name="input_topic" value="$(arg input_topic)"/>
        <param name="use_compressed" value="$(arg use_compressed)"/>
        <param name="stop_roi_ratio" value="$(arg stop_roi_ratio)"/>
        <param name="output_topic" value="$(arg output_topic)"/>
        <param name="stop_line_pixels_per_meter" value="$(arg stop_line_pixels_per_meter)"/>
        <param name="stop_line_min_aspect" value="$(arg stop_line_min_aspect)"/>
        <param name="stop_line_min_width" value="$(arg stop_line_min_width)"/>
        <param name="output_bool_topic" value="$(arg output_bool_topic)"/>
    </node>

</launch>