<launch>
  <!-- 1) odom: /gps + /imu → /odom -->
  <node pkg="control" type="odom.py" name="odom" output="screen" respawn="true">
  </node>

  <!-- 1-2) 동적 TF: odom -> base_link -->
  <node pkg="control" type="odom_tf_pub.py" name="odom_tf_pub" output="screen" respawn="true">
    <param name="parent_frame" value="odom"/>
    <param name="child_frame"  value="base_link"/>
  </node>

  <!-- 2) global_path_pub: /global_path 발행 -->
  <node pkg="control" type="global_path_pub.py" name="global_path_pub" output="screen" respawn="true">
  </node>

  <!-- 3) local_path_pub: /odom, /global_path → /local_path -->
  <node pkg="control" type="local_path_pub.py" name="local_path_pub" output="screen" respawn="true">
  </node>
</launch>
